@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

*
{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
}

body
{
    padding: auto;
    margin: auto;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container
{
    width: 850px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding: 30px 35px 35px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5), 1px 1px 25px rgba(0, 0, 0, 0.5);
}

.container h2
{
    font-size: 22px;
    color: white;
    font-weight: 500px;
}

.container .wrapper
{
    display: flex;
    margin: 20px 0;
    min-height: 335px;
}

.wrapper .editor-panel
{
    width: 280px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 3px solid #222;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5), 1px 1px 25px rgba(0, 0, 0, 0.5);
}

.editor-panel .title
{
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 12px;
}

.editor-panel .options, .controlls
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-panel button
{
    height: 40px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all ease 0.5;
}

.editor-panel .filters button
{
    width: calc(100% / 2 - 4px);
    background: #282828;
    border: 1px solid rgb(17, 146, 103);
    color: rgb(17, 146, 103);
    font-weight: 800;
}

.filters button.active
{
    color: white;
    background: rgb(14, 179, 124);
    border: none;
}

.editor-panel .rotations
{
    margin-top: 17px;
}

.editor-panel .rotations button
{
    width: calc(100% / 4 - 3px);
    color: white;
    background: rgb(17, 146, 103);
    font-size: 16px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.container.disable :where(.editor-panel, .saveImg, .reset-filter)
{
    opacity: 0.6;
    pointer-events: none;
}

.editor-panel .rotations button:active
{
    background: rgb(15, 150, 70);
}

.filters .slider
{
    margin-top: 12px;
}

.filters .slider .filter-info
{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}

.filters .slider input
{
    width: 100%;
    height: 5px;
    accent-color: #5372f0;
    cursor: pointer;
}

.wrapper .previewImg
{
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.previewImg img
{
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controlls button
{
    font-size: 14px;
    padding: 11px 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

button.reset-filter:active,
button.reset-filter:hover
{
    color: white;
    background: rgb(14, 179, 124);
}

.controlls .reset-filter
{
    color:rgb(17, 146, 103);
    background: #222;
    border: 1px solid rgb(17, 146, 103);
    transition: all ease-in-out 0.5s;
}

.controlls .chooseImg
{
    background: #5372f0;
    color: white;
}

.controlls .saveImg
{
    background: #75757c;
    color: white;
    margin-left: 5px;
}

@media screen and (max-width: 760px)
{
    .container
    {
        padding: 25px;
    }

    .container .wrapper
    {
        flex-wrap: wrap-reverse;
    }

    .wrapper .editor-panel
    {
        width: 100%;
    }

    .wrapper .previewImg
    {
        width: 100%;
        margin: 0 0 15px;
    }
}

@media screen and (max-width: 500px)
{
    .controlls button 
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .controlls .row
    {
        width: 100%;
    }

    .controlls .row .saveImg
    {
        margin-left: 0px;
    }
}